.bg-level1{
    background-color: #00BFFF;
    color: aliceblue;
}
.bg-level2{
    background-color: #66CC66;
    color: aliceblue;
}
.bg-level3{
    background-color: #FFCC33;
    color: aliceblue;
}
.bg-level4{
    background-color: #FF9933;
    color: aliceblue;
}
.bg-level5{
    background-color: #FF0033;
    color: aliceblue;
}