.text{
    font-size: 30px;
}
.bg-color1{
    background-color: #FF6666;
    color: aliceblue;
}
.bg-color2{
    background-color: #FFCC33;
    color: aliceblue;
}
.bg-color3{
    background-color: #00CED1;
    color: aliceblue;
}
.bg-color4{
    background-color: #00CC66;
    color: aliceblue;
}

.bg{
    background-color: #F5F5F5;
}
.center{
    display: inline;
}
.value{
    display:inline-block;
    margin:10px;
    background-color: #252525;
    color: white;
    border:1px solid #252525;
    box-shadow:0px 0px 0px;
    width:270px;
    height: 250px;
  }
  .text-color{
    color: #3bb9b7;
  }
  .value-text{
    font-size: 18px;
  }
  .donut{
    background-color: #3bb9b7;
    color: aliceblue;
  }

  .pollution-txt{
    font-size: 18px;
  }